
<div class="bg-black"><h1>Sign In</h1>

<form class="row g-3" method="POST" action="/signin">
   <div class="col-md-6">
    <label for="inputEmail4" class="form-label">Email</label>
    <input name="email" type="email" class="form-control" id="inputEmail4">
  </div>
  <div class="col-md-6">
    <label for="inputPassword4" class="form-label">Password</label>
    <input name="password" type="password"  placeholder="Enter your Password" class="form-control" id="inputPassword4">
  </div>
  
  <div class="col-12">
    <button type="submit" class="auth-btn">Sign In</button>
  </div>
</form>