<div class="bg-black">
  <h1>{{title}}</h1>
  <p><h2>Welcome to {{title}}</h2></p>
  <h2><i>Find and post your event.</i></h2>

  <div class="buttons">
  <a href="/event/create" ><button class="landing-btn post-btn">Post an event</button></a>
  <a href="/event/listing"><button class="landing-btn find-btn">Find an event</button></a>
  </div>
</div>