<a href="/profile">Go Back</a>

<h2>edit your profile pic!</h2>

<form action="/upload" method="POST" enctype="multipart/form-data">
  <input type="file" name="imageUrl" accept="image/png, image/jpg">
  <button type="submit">Submit</button>  
</form>