body {
  min-height: 100vh;
  width:100vw;
    margin: 0 auto;
  /* font-family: 'Ubuntu', sans-serif; */
  font-family: 'Chivo', sans-serif;
}

.navbar-light{
  z-index: 9999;
}
.bg-black{
  background: black;
  min-height: 100vh;
  padding: 10em;
  color: white;

}

.profile-black{
  background: black;
  height: 100%;
  padding: 10em;

}

.profile-container{
  display:flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.profile-pic{
  position:relative;
  left: 50%;
  transform: translate(-50%);
  width: 300px
}

.space{
  padding:50px;
}

.bg-white{
  height: 100%;
  padding: 10em;

}

.form-select{
  background: white;
  height: 40px;
  width: 90%;
  border-radius: 8px;
  margin-top: 50px;
  margin-left: 10px;
}


.bg-red{
  background: #eb5758;
  height: 100%;
  padding: 10em;
  color: white;

}

.bg-green{
  min-height: 100vh;
  background: #c9fbd2;
  padding-top: 100px;
  text-align: center;
}

.bg-green h2{
  padding: 20px;
  color:black;
}

.events-content{
  display:flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  background: #c9fbd2;
  padding: 30px;
  text-align: center;
}


.event-detail{
 /* position: relative;
left: 50%;
transition: translate(-50% 50%); */
   text-align: center;
 }

.bg-green h1{
  color: black;
  text-align: center;
}

.bg-dark {
  background-color:white!important;
  color:black;
}

.content {
display:flex;
min-height: 100vh;
flex-direction: column;
}

a {
  color: #00b7ff; }

h1 {
  text-align: center;
  color: white; 
  font-size: 80px;
  padding: 30px;
  font-weight: 900;
}

h2 {
  text-align: center;
  font-weight: 300;
  color: white; 
  size: 12px;
}

h3 {
  font-weight: 300;
  color: white; 
  size: 10px;
}

.small-btn{
  background-color: black;
  color: white;
  margin-top: 0;
  cursor: pointer;
}

.event hl{
  width: 100%; 
  margin: auto;
  border-top: solid black 10px;
  
}

.event {
  padding: 20px;
  text-align: left;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.posted-event{
  display:flex;
flex-direction: row;
}

.event-pic{
  margin-top: 0;
 height: 30em;
 object-fit: cover;

}

.event-title h1{
  color: black;
}

.event-title{
  size: 40px;
  text-transform: uppercase;
  font-weight: bold;
  color: #eb5758;
}

.buttons{
    display:flex;
    justify-content: center;
    margin-top: 0;
    cursor: pointer;
}

.landing-btn{
    font-size: 20px;
    font-weight: 100;
    letter-spacing: 1px;
    text-align: center;
    padding: 30px 80px;
    margin: 10px;
    cursor: pointer;
    margin-top: 50px;
    background-color:white;
}

.auth-btn{
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  margin-top: 50px;
  background-color: white;
  color: black;
  padding: 5px 20px;
}

.auth-btn:hover{
  background-color: black;
  color: white;
}

.post-btn:hover{
    background-color: #eb5758;
}

.find-btn:hover{
  background-color: #c9fbd2;
}

.navbar {
  position: fixed;
  width: 100%;
}

.success-msg{
  text-align: center;
  background-color: #c9fbd2;
  padding: 20px;
  margin-top: 20px;
}
footer {
  text-align: center;
  padding:20px;
}

.test {
  display: flex;
  flex-direction: row;
  flex: wrap;
  justify-content: space-between;
}

.card{
  margin: 15px;
}
/*# sourceMappingURL=style.css.map */