<div class="bg-black"><h1>Create a new event</h1>


<form class="row g-3" method="POST" action="/event/create">

<div class ="col-md-6">
  <label for="exampleFormControlInput1" class="form-label">Title</label>
  <input name ="title" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter the title of your event">
</div>
<div class="col-md-6">
  <label for="exampleFormControlTextarea1" class="form-label">Description</label>
  <textarea name="description" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
</div>
<div class="col-md-6">
  <label for="exampleFormControlInput1" class="form-label">Date</label>
  <input name="date" type="date" class="form-control" id="exampleFormControlInput1" placeholder="Enter the date of your event">
</div>

  <select name="location" class="form-select">
    <option selected>Select City</option>
    <option>Berlin</option>
      <option>Porto</option>
      <option>Paris</option>
      <option>Amsterdam</option>
      <option>Lisbon</option>
      <option>Madrid</option>
  </select>


<select name="category" class="form-select" >
  <option selected>Select Category</option>
    <option>Sports</option>
    <option>Music</option>
    <option>Garage Sales</option>
    <option>Meet-Ups</option>
    <option>Arts and Crafts</option>s
    <option>Gaming</option>
    <option>Food</option>
    <option>Fashion</option>
    <option>Seminars</option>
    <option>Themed Parties</option>
    <option>Others</option>
</select>


  <input class="form-select" name="ageRestriction" type="number"  placeholder="Age Restriction (optional)"  >
 

  <div>
  <button type="submit" class="auth-btn">Post your event</button>
  </div>
</form>


</div>

